---
import MixinIconText from "./MixinIconText.astro";

export interface Props {
    text: string;
    link?: string;
    target?: "_blank" | "_self" | "_parent" | "_top";
    active?: boolean;
}

const { active, ...props } = Astro.props;
---

<li class:list={[{ active: active }]}>
    <a href={props.link} target={props.target}>
        <MixinIconText text={props.text} />
    </a>
</li>

