---
import { parseMetaFromRaw } from "@/scripts/mixin-meta";
import { Icon } from "astro-icon/components";

interface Props {
    data: string;
}

type SupportedIconStyle = "fix-w" | "fix-h" | "non-hover";

const { data } = Astro.props as Props;

const metas = parseMetaFromRaw<SupportedIconStyle>(data);
---

{
    metas.map(meta => {
        if (meta.type === "text") {
            return <span>{meta.literal}</span>;
        } else if (meta.type === "icon") {
            return (
                <span data-icon-style={(meta.style ?? ["fix-h"]).join(" ")}>
                    <span>
                        <Icon name={meta.id} />
                    </span>
                </span>
            );
        } else {
            return null;
        }
    })
}

<style lang="scss">
    [data-icon-style] + span,
    span + [data-icon-style] {
        margin-left: 0.4em !important;
    }

    [data-icon-style] {
        display: inline-block;
        user-select: none;
        & > span {
            display: inline-flex;
            vertical-align: middle;
            box-sizing: border-box;
            padding-bottom: 0.19rem;
        }
    }

    [data-icon-style~="fix-w"] > span > svg {
        width: 1em;
        height: max-content;
    }
    [data-icon-style~="fix-h"] > span > svg {
        height: 1em;
        width: max-content;
    }
    [data-icon-style~="non-hover"] {
        color: var(--font-color);
        &:hover {
            color: var(--font-color);
        }
    }
</style>
