---
import FooterElement from "./helpers/FooterElement.astro";
import type { MarkdownOptions } from "@/scripts/markdown";

import siteConfig from "@/site-config";

const MdOpts: Partial<MarkdownOptions> = {
    externalLink: true
};

function toArray<T>(val: T | T[]): T[] {
    return Array.isArray(val) ? val : [val];
}

const conf = toArray(siteConfig.footer).map(toArray);
---

<div class="footer">
    <div class="footer-box">
        {
            conf.map((line, i) => (
                <div class="footer-line" data-key={i}>
                    {line.map((md, j) => (
                        <FooterElement md={md} options={MdOpts} data-key={i + "-" + j} />
                    ))}
                </div>
            ))
        }
    </div>
</div>

<style lang="scss">
    .footer {
        display: block;
        // position: absolute;
        // top: 100vh;
        font-size: 0.95rem;
        width: 100%;
        background-color: var(--footer-background-color);
        .footer-box {
            margin: 0 auto;
            padding: 1.3rem 1rem;
            max-width: 100%;
            text-align: center;
            .footer-line {
                margin: 0.2rem auto;
                box-sizing: border-box;
                width: max-content;
                text-align: justify;
                text-align-last: justify;
                user-select: none;
            }
        }
    }
</style>

<style is:global lang="scss">
    .footer {
        a:not([class^="link-"]) {
            color: var(--font-color);
            &:hover {
                color: var(--font-color-2);
            }
        }
    }
</style>
