---
import FooterElement from "./helpers/FooterElement.astro";
import type { MarkdownOptions } from "@/scripts/markdown";

import siteConfig from "@/site-config";

const MdOpts: Partial<MarkdownOptions> = {
    externalLink: true
};

const conf = siteConfig.footer;
---

<div class="footer">
    <div class="footer-container">
        <FooterElement md={conf.copyright} options={MdOpts} />
    </div>
</div>

<style lang="scss">
    .footer {
        display: block;
        // position: absolute;
        // top: 100vh;
        width: 100%;
        background-color: var(--footer-background-color);
        .footer-container {
            margin: 0 auto;
            padding: 2rem 1rem;
            box-sizing: border-box;
            width: max-content;
            max-width: 100%;
            text-align: justify;
            text-align-last: justify;
            user-select: none;
        }
    }
</style>

<style is:global lang="scss">
    .footer {
        a:not([class^="link-"]) {
            color: var(--font-color);
            &:hover {
                color: var(--font-color-2);
            }
        }
    }
</style>
