---
import NavHamburger from "./NavHamburger.astro";
---

<nav {...Astro.props}>
    <div class="nav-main">
        <div class="nav-container">
            <ul class="nav-title">
                <slot name="title" />
            </ul>
            <div style="width: 100%;">
                <div class="nav-group">
                    <ul class="nav-content" data-large-win="true">
                        <slot name="content" />
                    </ul>
                    <ul class="nav-icon" data-large-win="true">
                        <slot name="icon" />
                    </ul>
                </div>
                <ul class="nav-icon" data-large-win="false">
                    <li><NavHamburger id="__check-hamburger" /></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mask" data-large-win="false">
        <div>
            <ul class="nav-content">
                <slot name="content" />
            </ul>
            <ul class="nav-icon" data-large-win="false">
                <slot name="icon" />
            </ul>
        </div>
    </div>
</nav>

<style lang="scss">
    html::view-transition-old(root),
    html[data-theme="dark"]::view-transition-new(root) {
        z-index: 9998;
    }

    html::view-transition-new(root),
    html[data-theme="dark"]::view-transition-old(root) {
        z-index: 9999;
    }

    ::view-transition-old(root),
    ::view-transition-new(root) {
        animation: none;
        mix-blend-mode: normal;
    }
</style>

<style lang="scss" is:global>
    @import "@/styles/defines.scss";
    $inner-height: $nav-height - $nav-padding-y * 2;
    $inner-width: calc(100% - $nav-padding-x * 2);
    $hamburger-duration: 0.25s;
    nav {
        .nav-main {
            // background-color: var(--nav-background-color);
            // linar-gradient transparent
            background: linear-gradient(to bottom, var(--nav-background-color-top), var(--nav-background-color-bottom));
            backdrop-filter: blur($nav-blur);
            color: var(--font-color);
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: $inner-width;
            height: $inner-height;
            padding: $nav-padding-y $nav-padding-x;
            border-bottom: $nav-border-width solid;
            border-bottom-color: transparent; // transition
            transition: border-color $hamburger-duration;

            .nav-container {
                display: grid;
                grid-template-columns: 1.5fr 1fr;
                margin: 0 auto;
                width: 100%;
                line-height: $nav-line-height;
            }

            .nav-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }

            .nav-title {
                font-size: 1.15rem;
                font-weight: bold;
            }
            .nav-content,
            .nav-icon {
                font-size: 1rem;
                font-weight: normal;
            }
        }
        .mask {
            // display: flex;
            justify-content: center;
            align-items: flex-start;
            position: fixed;
            z-index: 98;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            padding: $nav-height 0 0;
            background-color: var(--nav-background-color);

            & > div {
                width: 100%;
                max-width: 20rem;
                height: 100%;
                padding: 1rem $nav-padding-x 0;
                margin: 0 auto;
            }
        }
    }

    /** Mask Transition */
    .mask {
        display: flex;
        pointer-events: none;
        opacity: 0;
        transform: translateY(-5rem);
        transition:
            opacity $hamburger-duration,
            transform $hamburger-duration;
    }
    .nav-main:has(#__check-hamburger:checked) {
        border-color: var(--nav-hairline-color);
    }
    .nav-main:has(#__check-hamburger:checked) ~ .mask {
        display: flex;
        pointer-events: auto;
        opacity: 1;
        transform: translateY(0);
    }

    /** ul */
    ul {
        nav & {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 0;
            margin: 0;
            height: $inner-height;
        }
        nav &.nav-icon {
            justify-content: flex-end;
        }
        // in mask

        .mask &.nav-content {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 0;
            height: auto;
        }
        .mask &.nav-icon {
            height: auto;
            width: 100%;
            padding: 18px 0 12px;
            justify-content: center;
        }
    }

    /** li */
    li {
        nav & {
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
            height: 100%;
            padding: 0;
            font-size: inherit;
            font-weight: inherit;
            text-wrap: nowrap;
            color: var(--font-color);
        }
        // in mask

        .mask .nav-content & {
            height: auto;
            width: 100%;
        }
        .mask .nav-icon & {
            width: auto;
        }
    }
    /** Styles for tag `a` */
    a {
        @mixin a-hover($where, $color-1, $color-2) {
            #{$where} li > &:hover {
                color: $color-1;
            }
            #{$where} li.active > & {
                color: $color-2;
            }
        }
        nav li > & {
            text-decoration: none;
            color: inherit;
            cursor: pointer;
            transition: color 0.2s;
            padding: 0 0.5rem;
        }
        @include a-hover("nav", var(--secondary-color), var(--secondary-color));
        // title a
        @include a-hover("nav .nav-title", var(--font-color-2), var(--font-color));
        // icon a
        nav .nav-icon li > & {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.1rem;
            padding: 0;
            margin: 0 0.5rem;
        }
        nav .mask .nav-content li > & {
            width: 100%;
            padding: 12px 0 11px;
            border-bottom: 1px solid var(--nav-hairline-color);
        }
        nav .mask .nav-icon li > & {
            width: auto;
            border-bottom: none;
        }
    }

    /** Media query */
    @media (max-width: $nav-break-width) {
        nav {
            [data-large-win="true"] {
                display: none !important;
            }
        }
    }
    @media (min-width: $nav-break-width) {
        nav {
            [data-large-win="false"] {
                display: none !important;
            }
        }
    }
</style>
