---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"section"> {}
---

<section {...Astro.props}>
    <slot />
</section>

<style lang="scss">
    section {
        margin: 1.5rem 0;
        padding: 0 0.7em;
    }
</style>
