---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}
---

<div class:list={["section-body", Astro.props.class, Astro.props["class:list"]]}>
    <div data-paragraph>
        <slot />
    </div>
</div>

<style lang="scss">
    .section-body {
        margin: 1rem 0 1rem;
        [data-paragraph] {
            display: block;
            width: 100%;
            font-size: 1em;
            padding: 0.5rem 0;
            color: var(--font-size);
        }
    }
</style>

<style lang="scss" is:global>
    .section-body {
        [data-paragraph] {
            p {
                margin: 0.5rem 0 1rem;
            }
        }
    }
</style>
